<template name="home">
  <div class="row">
    <div class="large-12 columns">
      <h1>we won't forget</h1>
      <h2>a wall to remind us of unresolved political topics when media will forget them</h2>
    </div>
  </div>

  {{#if userIsCurator}}
    <div class="row" style="margin-top: 1rem;">
      <div class="large-10 columns">
        <div class="toolbar">
          <button type="button" class="home_curation-add-topic">add topic</button>
          <button type="button" class="home_curation-add-tag">add tag</button>
        </div>
      </div>
      <div class="large-2 columns text-align-right">
        {{#if isHomeCurationOpen}}
          <i class="link" style="position: relative; top: 2rem;">close</i>
        {{/if}}
      </div>
    </div>
    <div class="razorblade-modal {{#if isHomeCurationOpen}}open{{/if}}">
      {{> Template.dynamic template=homeCurationTemplateName}}
    </div>
  {{else}}
    <div class="row">
      <div class="large-12 columns">
        {{#if userIsSubscribedToNewsletter}} {{!-- todo: build hook --}}
          you're subscribed
        {{else}}
          {{> newsletter_subscription}}
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="large-12 columns">
      {{> list}}
    </div>
  </div>
</template>