<template name="list">
  <div class="row">
    <div class="large-12 columns">
      {{> topics}}

      <h2 style="margin-top: 3rem">that's all we have registered for now.</h2>

      <h3 class="margin-top">Suggestions</h3>
      if you think there's something missing, write a suggestion!<br/>
      {{#if currentUser}}
        <form>
          <div class="row">
            <div class="large-9 column">
              <input type="text" placeholder="title" />
              <input type="date" placeholder="date started" />
              <textarea placeholder="description of crisis">

              </textarea>

            </div>
            <div class="large-3 column text-align-right">
              <button type="submit">suggest</button>
            </div>
          </div>
        </form>
      {{else}}
        <div class="panel text-align-center" style="margin-top: 1rem;">
          <i style="font-size: 130%;">
            we're sorry. <br/>
            for now &mdash; to prevent spam &mdash; you need to log in or sign up to write a suggestion.
          </i>
        </div>
      {{/if}}
    </div>
  </div>
</template>