<template name="topics">
  <div class="topics">
    {{#each groups}}
      <div class="row">
        <div class="group large-2 columns">
          <div class="name">
            {{name}}
          </div>
        </div>
        <div class="large-10 columns">
          {{#each topicsInList associatedTopics}}
            <div class="topic row">
              <div class="flex">
                <div class="name">
                  {{name}}
                </div>
                <div class="supporter-count">
                  {{readableLongNumber supporterCount}} remember

                  <div class="toggle-support" data-topic-id="{{_id}}">
                    {{#if isSupportedByUser _id}}
                      & <div class="inline deep-purple">you</div>
                    {{else}}
                      <div class="add-support">
                        +
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="started">
                started {{fullDate dateStarted}}
              </div>
              <div class="tags">
                {{#each tags}}
                  {{name}}
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</template>