<template name="topics">
  <div class="topics">
    {{#each groups}}
      <div class="row">
        <div class="group large-2 columns">
          <div class="name">
            <a href="{{pathFor route='tag'}}">{{name}}</a>
          </div>
        </div>
        <div class="large-10 columns">
          {{#each topicsInList associatedTopics}}
            <div class="topic row">
              <div class="flex">
                <div class="name">
                  <a href="{{pathFor route='topic'}}">{{name}}</a>
                </div>
                <div class="supporter-count">
                  {{readableLongNumber supporterCount}} remember

                  <div class="toggle-support" data-topic-id="{{_id}}">
                    {{#if isSupportedByUser _id}}
                      & <div class="inline deep-purple">you</div>
                    {{else}}
                      <div class="add-support">
                        +
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="started">
                started {{fullDate dateStarted}}
              </div>
              {{> taglist}}
            </div>
          {{else}}
            <div class="text-align-center" style="margin-top: 1rem; font-size: 120%;">
              <i class="text-color-gray">there are no topics for this tag</i>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</template>