<template name="curation">
  <div class="row">
    <div class="large-12 columns">
      <h1>curation</h1>
      <h2>»Stay a little, and news will find you.«</h2>
      <h3 class="margin-top">add a topic</h3>
      <form class="create-topic">
        <input type="text" class="topic-title" placeholder="topic title">
        <input type="date" class="topic-start_date" placeholder="date of beginning (yyyy-mm-dd)">
        <button type="submit">create</button>
      </form>
    </div>
  </div>
</template>