@import foundation

@import constants

h1
  font-style: italic

h2
  color: gray

h3
  text-transform: uppercase
  font-size: 1.3rem

  &.margin-top
    margin-top: 2rem

.link
  color: $highlight-color

  &:hover
    cursor: pointer
    text-decoration: underline

.deep-purple
  color: $highlight-color

.inline
  display: inline

.hidden
  display: none

.flex
  display: flex

.text-color-gray
  color: gray

.text-align-right
  text-align: right

.text-align-center
  text-align: center

footer
  text-align: right
  color: $gray

  margin-top: 2rem
  margin-bottom: 2rem


input[type="email"], input[type="text"], input[type="password"], input[type="date"], input[type="search"]
  border: none
  border-bottom: black 2px solid
  width: 20rem
  box-shadow: none

  display: inline-block

  &:focus
    border-bottom-color: $highlight-color


button
  background: none

  padding-top: 0.4rem
  padding-bottom: 0.4rem
  &:hover
    background: black
    color: white
  &:focus
    background: none
    color: black



.razorblade-modal
  transition: all .5s ease-in-out
  background-color: #e5e5e5
  margin-top: 0.5rem
  box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75)

  max-height: 0
  height: auto
  overflow: hidden
  padding-top: 0rem

  &.open
    padding: 1.5rem 0 0.5rem
    max-height: 20rem
