@import constants

.pika-label, .pika-table thead
  font-family: $font-family

.pika-table
  thead, tbody, tr
    background: none !important

.pika-button
  .is-selected &
    background: none
    color: black
    box-shadow: none
    border: 1px solid black
    
  .is-today &
    font-weight: bold
    background-color: #e5e5e5

  .is-disabled &
    font-style: italic
    color: lightgray

  &:hover
    color: black
    background: none
